.box {
  background-color: #fff;
  padding: 10px;
  margin: 0 0 20px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.07);
  -moz-box-shadow: 0 0px 2px rgba(0,0,0,0.07);
  box-shadow: 0 0px 2px rgba(0,0,0,0.07);
}

.box_gray {
  background: #F5F5F5;
}

#node_info {
  margin: 0 -10px;
  padding: 0 10px;
  border-bottom: 1px solid #ddd;
}

#node_info .sorts {
  text-align: right;
  color: #999;
  padding: 3px 0 10px 0;
}

.topics .topic .avatar {
  width: 56px;
  margin-left: 10px;
}


.topics .topic_line {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  margin: 0 -10px;
  vertical-align: top;
}

.topics .topic .right_info {
  padding-left: 66px;
}


.topics .topic .replies {
  width: 70px;
  margin-right: 10px;
  text-align: right;
  vertical-align: middle;
}

.topics .topic .infos {
  padding-right: 74px;
}

#node_info .sorts ul {
  display: inline;
  margin: 0;
  padding: 0;
}
.box ul, .box ol {
  margin-bottom: 0;
}
#node_info .sorts li {
  display: inline;
  margin: 0 5px;
}

.topics .topic .replies a.count, .topics .topic .replies a.count:visited {
  line-height: 12px;
  font-weight: bold;
  color: white;
  background-color: #98acdf;
  display: inline-block;
  padding: 2px 10px 2px 10px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  margin: 18px 12px 0px 0px;
  text-decoration: none;
}

.topics .topic .info {
  color: #d0d0d0;
  margin-bottom: 2px;
  font-size: 12px;
}

.topics .topic .info .node {
  padding: 1px 5px;
  color: #778087;
  text-decoration: none;
  background-color: #f5f5f5;
}

.topics .topic .title a:link, .topics .topic .title a:visited, .node_topics .title a:link, .node_topics .title a:visited {
  color: #0069D6;
  text-decoration: none;
}

.topics .topic a:link, .topics .topic a:visited {
  color: #aaa;
  text-decoration: underline;
}

.topics .topic .replies a.count, .topics .topic .replies a.count:visited {
  line-height: 12px;
  font-weight: bold;
  color: white;
  background-color: #98acdf;
  display: inline-block;
  padding: 2px 10px 2px 10px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  margin: 18px 12px 0px 0px;
  text-decoration: none;
}

.sorts li a.popular {
color: #9d5051;
}
