/* app css stylesheet */
body{
  padding-top: 70px;
}

a.favorite{
  cursor: pointer;
  color: #aaa;
}

a.favorite:hover{
  color:#fd6529;
}
.bs-docs-nav {
  border-color: #a33f3e;
  background-color: #b94846;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.1);
  box-shadow: 0 1px 0 rgba(255,255,255,.1);
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
}
.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

@media (min-width: 768px)
  .navbar-fixed-top, .navbar-fixed-bottom {
  border-radius: 0;
}

.bs-docs-nav .navbar-brand {
  color: #fff;
}

.bs-docs-nav .navbar-nav>li>a {
  -webkit-transition: color .15s linear;
  transition: color .15s linear;
  color: #f9f1f1;
}

.bs-docs-nav .navbar-nav>li>a:hover{
  color: #fff;
  background: transparent;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

ul.nav-list a.active, ul.nav-list a.active:hover{
  /*color:red!important;*/
  color: white;
  background-color: #0088cc;
}

ul.nav-list a {
  line-height: 2em;
}

img{
  max-width:100%;
  max-height:100%;
}
img.active{
  border: 1px solid green;
}

img.emoji {
  width: 20px;
  height: 20px;
}

* input{
  max-width: 100%!important;
}


.w40{
  width:40px;
}

.w50{
  width:50px;
}
.w60{
   width:60px;
}

.media{
  padding-bottom: 0;
  border-bottom: 1px dotted #ccc;
}

.mr1{
  margin-right:1em;
}

.mbtm1{
  margin-bottom:1em;
}

.topic_editor{
  display:block;
  margin:1em 0;
  /*width:70%;*/
}

.topic_reply_button{
  margin-top:1.2em;
}

.alert-container{
  width:1px;
  float:right;
}

.new-topic{
  min-width: 500px!important;
}
.node_block:nth-child(odd){
  border-right:none!important;
}

.aside.new-topic{
  width:100%;
}


pre {
  border:none!important;
  padding:5px;
}

#reply_body{
  margin-top:0px;
}

.userinfo li label{
  color: #999;
  font-size: 12px;
  margin-right: 8px;
  display: inline-block;
  width: 100px;
  text-align: right;
}

.tab-content{
  padding-top:1em;
}

.box {
  border: 1px solid #dedede;
}

.reply .thumbnail{
  margin-bottom:10px;
}

.uface{
  max-height:45px;
  max-height:45px;
}

.userinfo .list-group-item label{
  width:150px;
}

#userinfo_avatar{
  position:absolute;
  right:1em;
  top:1em;
  z-index: 999;
  padding:0.5em;
  background:#fff;
}

.userinfo_id{
  position: relative;
}

li.active a{
  color: #b94846;
}