<div class="container-fluid">
  <div class="row-fluid">
 
    <div class="col-md-12">
      <!--Body content-->
      <div class="list-group">
        <a class="list-group-item col-md-6 node_block"  ng-href='#topics/node/{{node.id}}' ng-repeat="node in nodes | filter:query | orderBy:'-topics_count'" >
          <h4 class="list-group-item-heading">{{node.name}}<span class='badge pull-right'>{{node.topics_count}}</span></h4>
          <p class="list-group-item-text">{{node.summary}}</p>
        </a>
      </div>
    </div>
  </div>
  </div>
</div>