<div class='col-md-4 col-md-offset-4'>
<div class="panel panel-default">
  <div class="panel-heading text-center">
    登陆
  </div>
  <div class="panel-body">
    <input type='text' ng-model = 'info.login' class='form-control' placeholder='Login Name' /><br/>
    <input type='text' ng-model = 'info.token' class='form-control' placeholder='Token Here' />
    <br />
    <button ng-click = 'toLogin(info)' class='btn btn-block btn-primary btn-sm'>登陆</button>
  </div>
  
  <div class="panel-footer">注意: 请谨慎使用个人token. </div>
</div>
</div>